body {
  font-size: 133%;
  font-family: sans-serif;
}

h1 { 
	color: white
} 

h2 {
	color: grey
}

p {
	color: white
}

li {
	color: white
}

h3 { 
	color: silver
}

.center { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
