.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}                

.yellowBackground {
    background-color: yellow;
}                

.redBackground {
    background-color: red;
}

.purpleBackground {
    background-color: purple; 
}