body {
    background-color: rgb(146, 145, 145);   
}

button {
    background-color: rgb(168, 31, 31);
    border: 2px solid black;
    color: black;
    text-align: center;    
    font-size: 16px;
}

header {
    background-color: rgb(168, 31, 31);
    border: 2px solid black;
    color: black;
    text-align: center;
}

header p { 
    text-align: center;
    font-weight: bold;
    font-size: 110;
}

.head {
    text-align: center;
}

footer { 
    text-align: center;
    background-color: rgb(117, 117, 117);
}

hr { 
    border-color: black;
}

main { 
    text-align: center; 
}

figure {
    border: thin black solid;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-flow: column;
    padding: 5px;
    width: 19em;
}

figcaption {
    background-color: darkgrey;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}